a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
  padding: 0
  margin: 0px
  font-family: 'Roboto', sans-serif

.home_questions_active
  color: white
  background: #436ACC

html
  scroll-behavior: smooth

.signup__body
  width: 100%
  height: 100vh
  background: #436ACC
  display: flex
  justify-content: center
  align-items: center

.signup_btn-active
  color: #fff !important
  background: #1916A4 !important

.courses_categories-active
  background: #436ACC !important
  color: #fff !important

@media (max-width: 520px) and (min-width: 300px)
  .nav-logo
    width: 200px !important
    height: 45px !important
    margin-right: 23px !important
    display: flex !important
    align-items: flex-start !important
    min-width: 100px !important
    max-width: 200px !important
    min-height: 29px !important
    max-height: 100% !important

@media (max-width: 720px) and (min-width: 300px)
  .you-card-second
    margin-top: 50px
